// colors
$backgroundDark-1: #1f1f1f;
$backgroundDark-2: #121212;
$backgroundLight-1: #eaeaea;
$backgroundLight-2: #eaeaea;
// $backgroundLight-2: #eaeaea;
$backgroundLightNavbar: #eaf6f6;
// $backgroundLightNavbar: #a9a9a9;
$textDark: #e2e2e2;
// $textDark: #eaeaea;
$textLight: #252a34;
$textDark-80: rgba(#eaeaea, 0.9);
$textLight-80: rgba(#252a34, 0.9);
$hoverColorDark: #2193b0;
$hoverColorLight: #062c30;
// $hoverColorLight: #42032c;

// font size
$defaultFontSize: 1.6rem;

//
$transition: all 0.3s ease-in-out;
