.contact {
  @include halfOfTheWidth;
  &__input {
    display: inline-block;
    font-size: 1.65rem;
    font-weight: 700;
    color: $textDark;
    background-color: $backgroundDark-1;
    width: calc(50% - 1rem);
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    border-radius: 6px;
    outline: none;
    border: none;
    transition: $transition;
    box-shadow: rgba($hoverColorDark, 0.1) 0px 10px 15px -3px,
      rgba($hoverColorDark, 0.5) 0px 4px 6px -2px;
    @include respond(xs) {
      width: 100%;
    }
    &.light {
      color: $textLight;
      background-color: transparent;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    &:nth-of-type(1) {
      margin-inline-end: 2rem;
      @include respond(xs) {
        margin-inline-end: 0;
      }
    }
    &.textarea {
      display: block;
      margin-left: auto;
      margin-right: auto;
      resize: none;
      width: 100%;
    }
    &::placeholder {
      color: $textDark;
      transition: $transition;
      text-transform: capitalize;
    }

    &.light::placeholder {
      color: $textLight-80;
    }
    &::placeholder::first-letter {
      color: $hoverColorDark;
    }
    &:focus::placeholder {
      opacity: 0;
    }
    &:focus {
      box-shadow: rgba($hoverColorDark, 0.2) 0px 4px 12px;
    }

    &.light:focus {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
    }
  }
}
