.btn {
  padding: 1rem 2rem;
  padding-bottom: 0.6rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 6px;
  user-select: none;
  font-size: 1.8rem;
  transition: $transition;
  display: inline-block;
  cursor: pointer;
  color: $hoverColorDark;
  border: 1px solid $hoverColorDark;
  background-color: $backgroundDark-2;
  &.light {
    color: $hoverColorLight;
    border: 1px solid $hoverColorLight;
    background-color: $backgroundLight-2;
  }
  &.sm {
    font-size: 1.5rem;
  }
  &:hover {
    transform: translateY(-2px);
    opacity: 0.9;
    background-color: $hoverColorDark;
    color: $textLight;
  }

  &.light:hover {
    background-color: $hoverColorLight;
    color: $textDark;
  }
  &:active {
    transform: translateY(0px);
  }
}
